<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <input
      class="input"
      type="text"
      [formControl]="control"
      [ngClass]="{
        'is-danger': showErrors()
      }"
    />
  </div>
</div>

<ng-container *ngIf="showErrors()">
  <div class="help is-danger" *ngIf="control.errors?.['required']">
    *Zorunlu Alan
  </div>
  <div *ngIf="control.errors?.['minlength']">
    Girdiniz
    {{control.errors?.['minlength']?.['actualLength']}}
    karakter içermektedir, fakat minimum
    {{control.errors?.['minlength']?.['requiredLength']}}
    karakter olmalıdır.
  </div>

  <div *ngIf="control.errors?.['maxlength']">
    Girdiniz
    {{control.errors?.['maxlength']?.['actualLength']}}
    karakter içermektedir, fakat maximum
    {{control.errors?.['maxlength']?.['requiredLength']}}
    karakter olmalıdır.
  </div>
</ng-container>
